@import './base.css';

/*fonts*/
@import url("https://use.typekit.net/pyc5unm.css"); /*brother-1816*/
@import url("https://use.typekit.net/pyc5unm.css"); /*futura*/

#app {
  max-width: 100vw;
  margin: 0;

  font-weight: normal;
}

/*text*/

a,
.white {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--vt-c-white);
  transition: 0.4s;
}

h1 {
  font-family: "brother-1816", sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 6rem;
  color: var(--vt-c-white-soft);
  margin: 0;
}

h2 {
  font-family: "brother-1816", sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 2.5rem;
  color: var(--vt-c-white-soft);

  width: fit-content;
  padding: 0 1.2rem;
  margin-bottom: 1.4rem;
  
  background-color: var(--vt-c-black);
}

h3 {
  font-family: "brother-1816", sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 2rem;
  color: var(--vt-c-white-soft);
}

p {
  font-size: 1.2rem;
  color: var(--vt-c-grey-light);
}

.p-bold {
  font-weight: 700;
  color: var(--vt-c-white-soft);
}

.p-underline {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 1.6rem;
  color: var(--vt-c-white-soft);
}

.p-hero {
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 2.5rem;
  color: var(--vt-c-white-soft);
}

.p-date {
  color: var(--vt-c-orange);

  margin-bottom: 0;
}

.post-img{
  width: 100%;
  height: auto;
}

/*btn*/

button {
  font-family: "brother-1816", sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 2rem;
  color: var(--vt-c-grey);
  background-color: var(--vt-c-white-soft);

  padding: 0 2rem;
  border: none;

  transition: 0.4s;
}

button:hover {
  color: var(--vt-c-white-soft);
  background-color: var(--vt-c-purple);
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-purple);
  }
}

/*@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}*/

html, body {
  background-color: var(--vt-c-grey);

  background-image: url(../assets/img/Kanten_pattern.jpg);
  background-repeat: repeat;
}

/*box*/

.box {
  height: 70vh;
}

.p-box {
  margin-bottom: 2rem;
}

.card-box {
  box-shadow: 0 0 2rem var(--vt-c-black);
  height: 100vh;

  background-color: var(--vt-c-grey);
}

input {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
  width: 100%;

  color: var(--vt-c-grey-light);
}

input:focus, .input:focus {
  outline: none;

  color: var(--vt-c-white-soft);
}

/* Scale */

@media (max-width: 1200px) {

  /* Text */
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p{
    font-size: 1rem;
  }

  /*buttons*/
  button {
    font-size: 1.6rem;
  }
}

@media (max-width: 922px) {
  h1 {
    font-size: 4rem;
  }

  .p-hero {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.9rem;
  }

  .p-hero {
    font-size: 1.6rem;
  }

  button {
    font-size: 1.3rem;
  }

  .card-box {
    height: auto;
    padding: 8rem 0;
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }

    .p-hero {
      font-size: 1.2rem;
    }
  }
}